html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #AFBF36;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: "Poetsen One", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
}
header .logo {
  padding: 10px;
  color: #fd8d3b;
}
header .navbar {
  background-color: #A63C63;
}
header .navbar .navbar-nav {
  flex: 1;
  justify-content: space-around;
}
header .navbar .navbar-nav .nav-link {
  color: #e466a7;
}
header .navbar .navbar-nav .nav-link:hover {
  color: #96093d;
}

main {
  padding: 20px;
  flex: 1;
  font-family: "Poetsen One", sans-serif;
  font-weight: 50;
  font-style: normal;
  font-size: 10px;
}
main .secondary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
main .secondary-text h1 {
  color: white;
  background-color: #e466a7;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px;
  width: 50vw;
}
main .secondary-text h2, main .secondary-text h3 {
  width: 70vw;
  align-items: center;
  background-color: #fd8d3b;
  padding: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .secondary-text h2 h3, main .secondary-text h3 h3 {
  text-align: center;
}
main #carouselExampleCaptions {
  width: 50%;
  margin: 0 auto;
}
main #carouselExampleCaptions .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
main #carouselExampleCaptions .carousel-inner .carousel-item img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  object-fit: cover;
  margin: 10px;
}
main #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
  margin-bottom: 0;
}
main #container-click {
  background-color: #e466a7;
  justify-content: center;
  justify-items: center;
  border: none;
  width: 60vw;
  border-radius: 20px;
  padding: 10px;
  color: #96093d;
  font-family: "Poetsen One", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
main #container-click:hover {
  color: #F27C38;
  background-color: #f0c3a2;
}

#text-about {
  color: orangered;
  background-color: #f0c3a2;
  padding: 10px;
  border-radius: 5px;
  height: 70vh;
  max-height: 100%;
  font-size: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  font-weight: bold;
}

.accordion {
  width: 60vw;
  height: 70vh;
}
.accordion h2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 50;
  font-style: normal;
  font-size: 30px;
  color: #F27C38;
}
.accordion .accordion-item {
  background-color: #e466a7;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.accordion .accordion-item .accordion-button {
  background-color: #A63C63;
  font-size: 20px;
  color: azure;
}
.accordion .accordion-item .accordion-button:hover {
  color: #96093d;
}
.accordion .accordion-item .accordion-body {
  font-size: 20px;
}

.card-body {
  background-color: #fd8d3b;
  color: white;
  color: #96093d;
}
.card-body .card-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: white;
}

.container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .form-label {
  font-size: 25px;
  font-weight: bold;
}

footer {
  background-color: #A63C63;
  font-family: "Poetsen One", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: #fd8d3b;
  text-align: center;
  padding: 1rem 0;
}

/*# sourceMappingURL=estilo.css.map */
