body {
    background-color: #b14df1;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    flex: 1;
}

header, h1, footer {
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

h1{
    color: #28c6ee;
    text-align: center;
    padding: 20px;
}

h2,h3{
    color: #fd8d3b;
}

h3{
    text-align: center;
}
  
.logo {
    padding: 10px;
    color: yellow;
}

nav, footer {
    background-color: #81e686;
}

.navbar-nav {
    flex: 1;
    justify-content: space-around;
}

.nav-link {
    color: #e466a7;
}

.nav-link:hover {
    color: #fe0485;
}

.carousel-item {
    height: 60vh; /* Adjust the height as needed */
}

.carousel-item img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    margin: 10px; 
}

#carouselExampleCaptions {
    width: 50%;
    margin: 0 auto;
}

#carouselExampleCaptions .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container-click{
    background-color: pink;
    justify-content: center;
    justify-items: center;
    border: none;
    width: 60vw;
    border-radius: 20px;
    padding: 10px;
    color: #fe0485;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

#click-quiz{
    
}

footer {
    color: yellow;
    text-align: center;
}
