#text-about{
    color: orangered;
    background-color: #f0c3a2;
    padding: 10px;
    border-radius: 5px;
    height: 70vh;
    max-height: 100%;
    font-size: 2rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    font-weight: bold;
}