header{
        font-family: "Poetsen One", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 35px;
        .logo{
            padding: 10px;
            color: $color-h1;
        }
        .navbar{
            background-color: $color-verde;
            .navbar-nav{
                flex: 1;
                justify-content: space-around;
                .nav-link{
                    color: $color-nav;
                    &:hover{
                        color: $color-about;
                    }
                }
            }
        }
}
