$color-verde: #A63C63;;
$color-h1: #fd8d3b;
$color-body: #fd8d3b;  
$color-logo: #A69E33;
$bg-violeta: #AFBF36;
$color-nav: #e466a7;
$color-nav-hover: #96093d;
$color-about: #F27C38;
$color-bg-about: #f0c3a2;
