$bg-violeta: #b14df1;
$color-h1: #28c6ee;
$color-body: #fd8d3b;  
$color-logo: yellow;
$color-verde: #81e686;
$color-nav: #e466a7;
$color-nav-hover: #fe0485;
$color-about: orangered;
$color-bg-about: #f0c3a2;