$color-verde: #ccff33;
$color-h1: #6a994e;
$color-body: #6a994e;  
$color-logo: #A69E33;
$bg-violeta: #a5be00;
$color-nav: #38b000;
$color-nav-hover: #ccff33;
$color-about: #008000;
$color-bg-about: #f2e8cf;
